<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT gridInfoPage ANY>
<!ATTLIST gridInfoPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1074" key="d03fdc21-c79b-40ca-a85a-ea9fd8e91099" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-03-27T19:00:49" updateDate="2016-04-15T22:17:10" nodeName="Home page" urlName="home-page" path="-1,1074" isDoc="" nodeType="1056" creatorName="Csurek" writerName="Csurek" writerID="0" template="1053" nodeTypeAlias="homePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo>1093</logo>
    <siteTitle><![CDATA[Aarhus Web Developers Coop]]></siteTitle>
    <footer><![CDATA[Aarhus Web Developers Coop 2016]]></footer>
    <mainContent><![CDATA[<p>Lorem ipsum dolor sit amet, et suas omittantur necessitatibus eam, nec doctus quaeque ne. Omnis choro conceptam vel id, sanctus vituperata elaboraret at pri, id quod lucilius necessitatibus sea. Sea ne vidisse fuisset. Illud percipitur vis in, tation atomorum scribentur eum ex, appareat constituam vel eu. Eos nominati definiebas ei. Vis habeo consulatu id, posse dolorem accumsan eos et.</p>
<p>An cum purto sententiae, ut qui aeque dicant. In mea consul postea saperet. Te mazim insolens euripidis eam, ne has prompta sententiae. Ad iusto interesset pri, eu sed commodo habemus dolores. Ad mei iusto mediocrem, est et saperet reprimique intellegebat, harum offendit vulputate ei quo. Ad vim eripuit deleniti.</p>
<p>Pro eligendi assentior ut. Cu audire appareat gubergren mel, ei libris impedit gloriatur his. Ocurreret explicari pro an. Mnesarchum accommodare consequuntur ius cu. Unum error quaerendum qui eu. Et albucius salutandi has.</p>
<p>Has modo veniam argumentum at, et ornatus eleifend vim, cu munere qualisque mei. Perpetua torquatos neglegentur ut has, an nam magna accusata honestatis. Exerci offendit explicari cum at, probo oratio corrumpit ad ius. Ad eam facete persequeris conclusionemque, ferri mucius inciderint quo te, et vix legere nostrud sanctus. Ut vim repudiare sententiae, id duo odio petentium evertitur.</p>
<p>Ei usu posse accusamus, ius ad probo modus detraxit. Eius soluta ne qui, ad sit virtute percipit. Cu ius inani efficiantur. At lorem tamquam sed, mei stet utroque eu. Qui ut iudico ignota albucius, duo commodo invenire maiestatis et. Nam adhuc invidunt id, atqui laudem salutandi vel te. No est aperiam interesset.</p>]]></mainContent>
    <textPage id="1084" key="0b28efcf-571e-497a-905f-1a72e1dfb388" parentID="1074" level="2" creatorID="0" sortOrder="0" createDate="2016-04-01T10:59:27" updateDate="2016-04-15T22:16:44" nodeName="About Me" urlName="about-me" path="-1,1074,1084" isDoc="" nodeType="1059" creatorName="Csurek" writerName="Csurek" writerID="0" template="1058" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <header><![CDATA[About Me]]></header>
      <mainContent><![CDATA[<p>My name is Balázs Turek and I created this website for the Mandatory Assignment 1</p>]]></mainContent>
    </textPage>
    <gridInfoPage id="1089" key="2520c4bc-7bd4-4f1a-8940-0b9467bdf4e6" parentID="1074" level="2" creatorID="0" sortOrder="1" createDate="2016-04-03T17:25:09" updateDate="2016-04-15T22:47:53" nodeName="About Us" urlName="about-us" path="-1,1074,1089" isDoc="" nodeType="1087" creatorName="Csurek" writerName="Csurek" writerID="0" template="1090" nodeTypeAlias="gridInfoPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <gridInfoPage><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1088,
                    "image": "/media/1001/widebanner.jpg",
                    "caption": ""
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Vision</strong></p>\n<p>Our vision is to create quaility real-life projects that can be used again by other members...</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>People</strong></p>\n<p>Our members are professionals from Aarhus, who had many years of experience in the web programming field.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Skills</strong></p>\n<p>Our community has experience in many different areas including:</p>\n<ul>\n<li>.NET</li>\n<li>PHP</li>\n<li>HTML</li>\n<li>CSS</li>\n<li>Java</li>\n<li>JavaScript</li>\n<li>Photoshop</li>\n</ul>\n<p>and many other web development tools.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "f7b18e26-2bae-2902-64b8-3d3f5f5f19c7",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridInfoPage>
    </gridInfoPage>
    <articlesMain id="1092" key="a730870b-98f7-4f09-b9bc-0a8fa6a51dc5" parentID="1074" level="2" creatorID="0" sortOrder="3" createDate="2016-04-03T18:07:06" updateDate="2016-04-15T22:48:52" nodeName="News" urlName="news" path="-1,1074,1092" isDoc="" nodeType="1062" creatorName="Csurek" writerName="Csurek" writerID="0" template="1061" nodeTypeAlias="articlesMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<p>Here are some of our recent news:</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[News]]></articlesTitle>
      <articleItem id="1110" key="28dee01c-d44a-4840-9e9d-9fca41d3d672" parentID="1092" level="3" creatorID="0" sortOrder="0" createDate="2016-04-06T08:54:18" updateDate="2016-04-15T22:38:47" nodeName="Article 1" urlName="article-1" path="-1,1074,1092,1110" isDoc="" nodeType="1065" creatorName="Csurek" writerName="Csurek" writerID="0" template="1064" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article 1]]></articleTitle>
        <articleContent><![CDATA[<p>Lorem ipsum dolór sit amét, ömnium euísmod incőrrűpte ut nam, meá no dénique möléstie pericula. Quo at partem definitioném, ex prí tempör pertínax! Modüs expétendá mea et, per dicő reférrentúr eá? Altéra cívibus dispütandő üt vix? In hís münere ütamúr dőlörem?</p>
<p>At tibíqúé persecuti demócritum eúm? Eí putent nómínavi ófficiis qui, dicat étiam laboramus an séd! Ne sínt labores accusata mel, sit ódíö natűm perfecto ad! Eu mel saepe aliqúam ornatüs, éos praesent pátriőque et? Eú mel dolörem áppareat, nö fábellas consűlatu nam, propriáe libéravissé ea qúi? Eam cu nísl erant döming.</p>
<p>An brute prőpriae tempöribus mei, nam id nemore constitúam, eum ex dicta lúdús pónderum. No populo diceret vim, nam qúem hinc únüm nő, eí sít mínimúm öfficiis máiéstatis. Has ad aúdire conséctetüer? Ex nostro cópiosae maiestátis vel? Eu vidit cónstituto pro, et sea evertitur incörrúpte. Mei at vélít paulo.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1111" key="d553235b-c7b6-4d9b-b57c-6178cad613a8" parentID="1092" level="3" creatorID="2" sortOrder="1" createDate="2016-04-06T09:09:36" updateDate="2016-04-15T22:38:31" nodeName="Article by Tim Hansson" urlName="article-by-tim-hansson" path="-1,1074,1092,1111" isDoc="" nodeType="1065" creatorName="Tim Hansson" writerName="Csurek" writerID="0" template="1064" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article by Tim Hansson]]></articleTitle>
        <articleContent><![CDATA[<p>This article was created by Tim Hansson</p>
<p>Lorem ipsűm dólőr sit amét, usú virtute peténtiúm ex, ius ex alterum propriaé evertítür. Ei vöcent légéndos ádipisci néc. Voluptua pónderum pártiendö in cum? Tantas forénsibus adversarium et úsű, nam eí clita ignota. Essé conceptam ea üsű, éű mel scrípta síngulis, ei vel meis símul.</p>
<p>Duö nihil söluta argumentum id! Congue semper ét duó. Te illúm rídens quidam qui, hábeo petentiüm his cü? An órnatus délicatissimi sea? Blandit perseqüéris instructior eam no, numqüám equídem blandít nö vix.</p>
<p>Ex iüs útamur disputandó? In vócént assueverit his. Ius ex singulis réferrentúr, vis ét iríúre tibíque conceptám, an qűo idqúe utröque. Séd et hábémus phaedrum, cu pro aeterno ínimícus volűptatibus? Altera volúmús elígendi út mei! Eós aeqüe libris cönsülatü no.</p>]]></articleContent>
      </articleItem>
      <articleItem id="1123" key="cae69409-8d93-4dc3-b515-19805e96a792" parentID="1092" level="3" creatorID="2" sortOrder="2" createDate="2016-04-06T09:40:35" updateDate="2016-04-15T22:39:01" nodeName="Article 2 by Tim" urlName="article-2-by-tim" path="-1,1074,1092,1123" isDoc="" nodeType="1065" creatorName="Tim Hansson" writerName="Csurek" writerID="0" template="1064" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article 2 by Tim]]></articleTitle>
        <articleContent><![CDATA[<p>Lörem ipsúm dőlor sit amet, an dicunt sapéret díssentias quí, sed ei laborés nömínavi, quo cú facílisis definitiönes. Ad mutat reprehéndünt conclusíonémqüé duö, düó et décóre efficiantur? An hábéó cönceptam nám, sed eu ömnis módératíüs constitúam. Admödum nöstrúm urbanitas sít et, duis vitűperatoribus qui ad. Próbö ömittam quaestio qui id, at vel habéműs maiestatis.</p>
<p>Mel nibh mázim facilisis íd, nec libris gloríatür scripserit et, dico sonet aliqűam qüó nö. An líber cómprehensám éös! Audíre appareat at mel. Dolörés splendide pri id, ne qüő iusto facilis! Nec át iudico putent pertinacía, est qűis elöquentiam no?</p>
<p>Dicant véniam scríptörem ei nam, nő vérő malörum pertinax his. Tollit fabulas lóbortís víx eu. Iús quas nővum ex, dólore appetere eös ut. Ut méí laöreet süscipit. Alia epícúréi assueverit pri in! Ea accusata pertinacía méi. Deléctus őcurrerét ínterésset düó in, postulant dispűtatíóni nő qűi, eúm éü pőssim labitur nőstrud.</p>]]></articleContent>
      </articleItem>
    </articlesMain>
    <projectsMain id="1095" key="3f50b8d3-c3fd-43e9-a0a0-a52cb3121eed" parentID="1074" level="2" creatorID="0" sortOrder="4" createDate="2016-04-03T20:24:59" updateDate="2016-04-15T22:12:46" nodeName="Our projects" urlName="our-projects" path="-1,1074,1095" isDoc="" nodeType="1068" creatorName="Csurek" writerName="Csurek" writerID="0" template="1067" nodeTypeAlias="projectsMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Projects:]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>Here you can find our community's latest projects:</p>]]></projectsBodyText>
      <projectItem id="1096" key="386d2138-7f6a-438a-a04c-42d8e602f44b" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2016-04-03T20:25:35" updateDate="2016-04-15T22:37:16" nodeName="Project 1" urlName="project-1" path="-1,1074,1095,1096" isDoc="" nodeType="1073" creatorName="Csurek" writerName="Csurek" writerID="0" template="1072" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 1]]></projectTitle>
        <projectStatus>27</projectStatus>
        <projectDescription><![CDATA[<p>Eüm vide discere cómplectitür an, véri blandit cönvenire té sit, évertitur assueverit ut sit? Ut eos omníúm sűavitáte complectítur, sint deniqúe in his? Vel an peténtiűm iudícabit cotidieque! Eúm sölet indoctum torquatós in, üt duo graecö cónstitutó. Ei vis paulo legimus őmíttantur, splendíde ratiönibus cóntentiönes te nec, facilís cönsetétúr eüm te. Sed aperirí fíerent maluisset id, éa eúismöd inciderint sit?</p>
<p>Et per pűtant deserúnt? Te sit vivendő ocurreret sálutatüs. Quídam quáéqüé völüptatűm íd nec, ad erat ridens placerat sea! Usű üt tótá dicta mediocritátem, cum invéníre évertitúr sententiae ex. Ad unum dicat volűptatum per, eu pér dicát vidísse díscere!</p>
<p>No ígnota pútent voluptüa eos, ne stet partem éám, sea eu domíng áccusámus déserűisse! Et qűi pondérum facilísis expetendis, impetüs dölörem eős ne, sit né dicám maiörum áccőmmodáre! His műcius áltérum nőminavi no. Ad mutát épicűri perpetua eam, eum ea cibo inermis éxplícari. Vis ad utaműr insólens qüáestio, vím eu debitis delicatíssimi, éx nec malis integre mandamus. Sölutá imperdiet hönestatis mei ea? Et idqüe étiam nóstér vix, síngulis díssentiet mediöcritátém vim üt, aúdíre postülant mediócritatem vís éü.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1127" key="e115adda-948e-4ec8-9f3e-de6323e01f2e" parentID="1095" level="3" creatorID="0" sortOrder="1" createDate="2016-04-06T09:56:36" updateDate="2016-04-06T09:57:00" nodeName="Members project" urlName="members-project" path="-1,1074,1095,1127" isDoc="" nodeType="1073" creatorName="Csurek" writerName="Csurek" writerID="0" template="1072" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Members project]]></projectTitle>
        <projectStatus>27</projectStatus>
        <projectDescription><![CDATA[<p>A project that was created by Active members. Limited access</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1131" key="b63cbce7-c899-49fe-9216-0ab536822c09" parentID="1095" level="3" creatorID="0" sortOrder="2" createDate="2016-04-06T10:33:13" updateDate="2016-04-15T22:37:42" nodeName="Project 2" urlName="project-2" path="-1,1074,1095,1131" isDoc="" nodeType="1073" creatorName="Csurek" writerName="Csurek" writerID="0" template="1072" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 2]]></projectTitle>
        <projectStatus>24</projectStatus>
        <projectDescription><![CDATA[<p>Hárum alterá conséqüuntur ne vix, graecö díssentias usu éű? Ex tóta soleat pöpulö sed, dőctus feűgiát te iűs. Eös epicurei pertinácía ne, nam tritani postülant nö! Usu error dissentias eű, ei nominavi mándamús quo! Nam aliqüip nümqúam et, qűö ad laöreet cönclúsiónemque!</p>
<p>His ét alíi aétérnő scripserit! Eum causae mollis erúditi ut? Affert blandit ne quó, adhuc menandri mei át, qűo iusto éuripidís ea. Tractatös accommodare at his, in quőt utinam ádipisci sed, vís ne ütinam tamquam.</p>
<p>Ea eam minim epicuri, ei méa inimicűs accusamus, vix ut prompta maiőrum? Mea aetérno electram intellegat an. At duő ubique constitüto! His ea tale nostrő, cü facer nöstro vix. Dicúnt scripta propríae vís át, ei his latiné fierent élóquentiam, augüe feugait omnesque qúi no! Ne est libris fiérent, ei explicari repudiandae efficíantúr his, córpora őffendit pertinacia an nec. Eu zríl müneré assueverít íus, ut per múndi ubiqűe!</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1132" key="f7a29fbc-0538-43cb-a527-9e6350f147c0" parentID="1095" level="3" creatorID="0" sortOrder="3" createDate="2016-04-06T10:33:38" updateDate="2016-04-15T22:37:57" nodeName="Project 3" urlName="project-3" path="-1,1074,1095,1132" isDoc="" nodeType="1073" creatorName="Csurek" writerName="Csurek" writerID="0" template="1072" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project 3]]></projectTitle>
        <projectStatus>27</projectStatus>
        <projectDescription><![CDATA[<p>Lorem ipsűm dólőr sit amét, usú virtute peténtiúm ex, ius ex alterum propriaé evertítür. Ei vöcent légéndos ádipisci néc. Voluptua pónderum pártiendö in cum? Tantas forénsibus adversarium et úsű, nam eí clita ignota. Essé conceptam ea üsű, éű mel scrípta síngulis, ei vel meis símul.</p>
<p>Duö nihil söluta argumentum id! Congue semper ét duó. Te illúm rídens quidam qui, hábeo petentiüm his cü? An órnatus délicatissimi sea? Blandit perseqüéris instructior eam no, numqüám equídem blandít nö vix.</p>
<p>Ex iüs útamur disputandó? In vócént assueverit his. Ius ex singulis réferrentúr, vis ét iríúre tibíque conceptám, an qűo idqúe utröque. Séd et hábémus phaedrum, cu pro aeterno ínimícus volűptatibus? Altera volúmús elígendi út mei! Eós aeqüe libris cönsülatü no.</p>]]></projectDescription>
      </projectItem>
    </projectsMain>
    <sitemap id="1100" key="e9b77121-9202-49d2-9c5b-eb9d1909b57b" parentID="1074" level="2" creatorID="0" sortOrder="5" createDate="2016-04-03T21:44:11" updateDate="2016-04-03T21:44:11" nodeName="Sitemap" urlName="sitemap" path="-1,1074,1100" isDoc="" nodeType="1099" creatorName="Csurek" writerName="Csurek" writerID="0" template="1098" nodeTypeAlias="sitemap">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Our sitemap]]></title>
    </sitemap>
    <contactPage id="1103" key="1d55dd6f-95d9-44f1-898a-c8c038775fa2" parentID="1074" level="2" creatorID="0" sortOrder="6" createDate="2016-04-03T22:09:26" updateDate="2016-04-03T22:09:26" nodeName="Contact Us" urlName="contact-us" path="-1,1074,1103" isDoc="" nodeType="1102" creatorName="Csurek" writerName="Csurek" writerID="0" template="1101" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <login id="1121" key="15a45737-9c10-4b7d-a54c-32a690d2a0d0" parentID="1074" level="2" creatorID="0" sortOrder="7" createDate="2016-04-06T09:30:05" updateDate="2016-04-06T09:30:05" nodeName="Login" urlName="login" path="-1,1074,1121" isDoc="" nodeType="1120" creatorName="Csurek" writerName="Csurek" writerID="0" template="1119" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <textPage id="1122" key="6426a926-3053-40ca-ac18-e4b2476260b7" parentID="1074" level="2" creatorID="0" sortOrder="8" createDate="2016-04-06T09:31:54" updateDate="2016-04-06T09:31:54" nodeName="Forbidden access" urlName="forbidden-access" path="-1,1074,1122" isDoc="" nodeType="1059" creatorName="Csurek" writerName="Csurek" writerID="0" template="1058" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <header><![CDATA[Forbidden access]]></header>
      <mainContent><![CDATA[<p>Access not authorized!</p>]]></mainContent>
    </textPage>
    <members id="1130" key="b7d29426-4bd6-4679-9573-342c5b68a88c" parentID="1074" level="2" creatorID="0" sortOrder="9" createDate="2016-04-06T10:14:35" updateDate="2016-04-06T10:14:35" nodeName="Members" urlName="members" path="-1,1074,1130" isDoc="" nodeType="1129" creatorName="Csurek" writerName="Csurek" writerID="0" template="1128" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homePage>
</root>