@inherits Umbraco.Web.Macros.PartialViewMacroPage
	
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Latest completed projects:</legend>
		@{
			var selection = CurrentPage.Site().FirstChild("projectsMain").Children("projectItem").Where("Visible && projectStatus.Contains(\"27\")","sas");
		}
		<ul class="list-group">
			@foreach(var item in selection.Take(3)){
				<li class="list-group-item">
					<a href="@item.Url">@item.Name</a>
				</li>
			}
		</ul>
 </fieldset>
	


